curl/
Debug/
debug.log
libcurl.exp
libcurl.lib
libcurl_a.lib
Release/
SimpleVisualTrans.aps
SimpleVisualTrans.exe.manifest
SimpleVisualTrans.vcxproj.filters
SimpleVisualTrans.vcxproj.user
tag2.txt
tag4.txt
tag4_ori.txt
tag5.txt
visualtrans.ini
visualtrans.ini_
x64/
